/* common */
// body {
//   font-family: 'Inter', sans-serif;
//   background-color: #f8f9fa;
// }

html {
  scroll-behavior: smooth;
}

body {
  background-color: map-get($theme-colors, 'dark');
  color: map-get($theme-colors, 'light');
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  /* 讓行距舒適，適合閱讀 */
  line-height: 1.65;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  color: map-get($theme-colors, 'primary');
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  // margin-bottom: 0.5em;
}

a {
  color: map-get($theme-colors, 'primary');
  text-decoration: none;
  transition: color 0.3s ease;
}

// 首頁 card
.card {
  background-color: map-get($theme-colors, 'dark-300');
  /* 比背景色稍亮的深色 */
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: map-get($theme-colors, 'light');
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &-title {
    color: map-get($theme-colors, 'primary');
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow:
      0 10px 20px rgba(0, 0, 0, 0.3),
      0 0 15px map-get($theme-colors, 'primary');
  }
}

// 後台 table

.table-responsive {
  border-radius: 10px;
  overflow: hidden;
}

.table thead {
  background-color: #e9ecef;
  border-bottom: 2px solid #dee2e6;
}

.table th,
.table td {
  vertical-align: middle;
  padding: 1rem;
}

.table .btn {
  border-radius: 6px;
}

/* 圖片預覽和上傳樣式 */
.image-preview-thumbnail-container {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.2s;
}

.image-preview-thumbnail-container.main-image {
  box-shadow:
    0 0 0 3px #ffc107,
    0 0 0 6px #ffffff;
}

.image-preview-thumbnail-container.main-image::before {
  content: '主圖';
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2px 6px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 12px;
  border-top-right-radius: 8px;
  z-index: 10;
}

.image-preview-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-preview-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  color: #adb5bd;
  font-size: 12px;
}

.image-preview-placeholder i {
  font-size: 24px;
  margin-bottom: 5px;
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 20;
}
